{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>SAE</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
  </head>
  <body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Sistema Estudiantes</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Ver</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Agregar</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% comment %} Tabla {% endcomment %}
    <div class="container-fluid mt-4">
      <h3>Estudiantes</h3>
      <div class="row">
        <div class="col-12">
          <div class="card border-primary mb-3">
            <div class="card-header">Tabla</div>
            <div class="card-body">
              <h4 class="card-title">Título</h4>
              <p class="card-text">Texto temporal ...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% comment %} Footer {% endcomment %}
    <footer class="mt-auto mb-4">
      <div class="text-center">
        <span>
          Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          Raúl Ruilova
        </span>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
